name: Deploy to GitHub Pages

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
          # 注意：这里改回根目录，因为你的 lock 文件在外面
          cache-dependency-path: ./pnpm-lock.yaml

      - name: Install dependencies
        # 虽然 lock 在外面，但安装和打包还是要进 client
        run: pnpm install
        working-directory: client

      - name: Build
        run: pnpm build
        working-directory: client

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: client/dist
          branch: gh-pages
